In [1]:
import Antenna as ant

In [2]:
filename = 'mock_coordinates_1.csv'
soljson = ant.request_best_route(filename, 'A')
soljson

Time Table:

 [[ 0 11  9  4  7  6  9  8]
 [ 0  0  8 15 12  9  7 14]
 [ 0  6  0 12  8 10  5 10]
 [ 0 13 11  0  9  6 10 10]
 [ 0 12  9  7  0 10 10  4]
 [ 0 12 14  7 13  0 12 14]
 [ 0  6  5 11  8  9  0  9]
 [ 0 15 11 11  5 14 13  0]]

SOLUTION FOUND ON ROUTE:
---------------------

depo Time(0) -> tgt3 Time(4) -> tgt5 Time(10) -> tgt1 Time(22) -> tgt6 Time(29) -> tgt2 Time(34) -> tgt4 Time(42) -> tgt7 Time(46) -> END
Total time of all routes: 46min
--- 0.15373468399047852 seconds ---

   stamp   loc       lat         lon drv
0      0  depo -6.232213  106.796387   A
1      4  tgt3 -6.230381  106.793961   A
2     10  tgt5 -6.222048  106.801468   A
3     22  tgt1 -6.233209  106.808815   A
4     29  tgt6 -6.236897  106.803978   A
5     34  tgt2 -6.241759  106.806450   A
6     42  tgt4 -6.242286  106.789185   A
7     46  tgt7 -6.246414  106.786156   A

In [4]:
kmlfile = 'targets_2.kml'
filename = 'mock_targets.csv'
solution_id = "A"
ant.transform_kml_to_csv(kmlfile, filename, solution_id)
ant.request_best_route(filename, solution_id)

Time Table:

 [[ 0  3  4  9 16 12]
 [ 0  0  2 10 16 14]
 [ 0  4  0  8 14 14]
 [ 0  8  8  0  9  9]
 [ 0 14 14  9  0  7]
 [ 0 13 13  8  7  0]]

SOLUTION FOUND ON ROUTE:
---------------------

depo Time(0) -> tgt1 Time(3) -> tgt2 Time(5) -> tgt3 Time(13) -> tgt5 Time(22) -> tgt4 Time(29) -> END
Total time of all routes: 29min
--- 0.001967906951904297 seconds ---

   stamp   loc       lat         lon drv
0      0  depo -6.232304  106.796426   A
1      3  tgt1 -6.233413  106.790923   A
2      5  tgt2 -6.238681  106.790324   A
3     13  tgt3 -6.242349  106.806890   A
4     22  tgt5 -6.226906  106.811954   A
5     29  tgt4 -6.234542  106.818820   A